# Para Lembrar

In [ ]:
df.head()

In [ ]:
display(df)

In [ ]:
df.describe()

In [ ]:
df.isna().sum()
#função para verificar e somar nulos

In [ ]:
print(df['Customer_Age'].mean())

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
sns.boxplot(x = df['Customer_Age'])
plt.show()

In [ ]:
plt.plot(['Customer_age'],['Income_category'])
plt.show()

In [ ]:
df['Customer_Age'].mode()
#moda de apenas uma coluna

In [ ]:
df['Customer_Age'].quantile(0.8)
#quartil de 80

#Medidas de Tendencia Central

In [ ]:
#média
#mediana
#moda
#min

print('media: ',tabela[' Valor '].mean())
print('mediana: ',tabela[' Valor '].median())
print('moda: ',tabela[' Valor '].mode())
print('minimo: ',tabela[' Valor '].min())

media:  480.285920030218
mediana:  303.0
moda:  0    15.0
dtype: float64
minimo:  0.38

In [ ]:
#variancia
#desvio padrao

print('variancia: ',round(tabela[' Valor '].var()))
print('desvio padrao: ',round(tabela[' Valor '].std(), 2))

variancia:  2815322
desvio padrao:  1677.89

In [ ]:
#covariancia
#correlacao

print(tabela.cov())
print(tabela.corr())

              N° da fatura    ID Cliente    Quantidade        Valor
N° da fatura  1.700462e+08 -2.226784e+05  1.613480e+05  3.206577e+05
ID Cliente   -2.226784e+05  3.007159e+06 -3.350425e+04 -3.332770e+04
Quantidade    1.613480e+05 -3.350425e+04  9.455781e+05  1.479037e+06
 Valor        3.206577e+05 -3.332770e+04  1.479037e+06  2.815322e+06
              N° da fatura  ID Cliente  Quantidade    Valor
N° da fatura      1.000000   -0.009847    0.012724  0.014655
ID Cliente       -0.009847    1.000000   -0.019869 -0.011454
Quantidade        0.012724   -0.019869    1.000000  0.906497
 Valor            0.014655   -0.011454    0.906497  1.000000

# Análise

In [2]:
#import csv com pandas, indicar separador csv, informar decimal ',' sendo ponto
import pandas as pd
import numpy as np
tabela = pd.read_csv('Mysql_vendas_fatura.csv', sep=';', decimal=',')

display(tabela)

,N° da fatura,Data da fatura,ID Cliente,País,Quantidade,Valor
0,581483,09/12/2021,16446,United Kingdom,80995,168469.60
1,541431,18/01/2021,12346,United Kingdom,74215,77183.60
2,556917,15/06/2021,12415,Australia,15049,22775.93
3,563076,11/08/2021,14646,Netherlands,14730,19150.66
4,572035,20/10/2021,14646,Netherlands,13392,20277.92
...,...,...,...,...,...,...
18527,572774,26/10/2021,16966,United Kingdom,1,3.25
18528,562424,04/08/2021,12584,Italy,1,12.75
18529,570554,11/10/2021,14800,United Kingdom,1,0.38
18530,570681,11/10/2021,12381,Norway,1,6.00
18531,569099,30/09/2021,17961,United Kingdom,1,3.25

In [ ]:
display(tabela)

,N° da fatura,Data da fatura,ID Cliente,País,Quantidade,Valor
0,581483,09/12/2021,16446,United Kingdom,80995,168469.60
1,541431,18/01/2021,12346,United Kingdom,74215,77183.60
2,556917,15/06/2021,12415,Australia,15049,22775.93
3,563076,11/08/2021,14646,Netherlands,14730,19150.66
4,572035,20/10/2021,14646,Netherlands,13392,20277.92
...,...,...,...,...,...,...
18527,572774,26/10/2021,16966,United Kingdom,1,3.25
18528,562424,04/08/2021,12584,Italy,1,12.75
18529,570554,11/10/2021,14800,United Kingdom,1,0.38
18530,570681,11/10/2021,12381,Norway,1,6.00
18531,569099,30/09/2021,17961,United Kingdom,1,3.25

In [ ]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18532 entries, 0 to 18531
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   N° da fatura    18532 non-null  int64
 1   Data da fatura  18532 non-null  object
 2   ID Cliente      18532 non-null  int64
 3   País            18532 non-null  object
 4   Quantidade      18532 non-null  int64
 5    Valor          18532 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 868.8+ KB

In [ ]:
print(tabela['Quantidade'].sum())

5161436

In [ ]:
print((tabela[' Valor '].sum())/(tabela['Quantidade'].sum()))

1.7244539445999136

In [ ]:
#Media de pedidos por mes
#13 numero de meses no dataset 
media_pedidos_mes = round(tabela['N° da fatura'].value_counts().sum()/13, 2)
print('Media mensal de pedidos: ', media_pedidos_mes)

Media mensal de pedidos:  1425.54

In [ ]:
#Media de vendas por mes 
media_vendas_mes = round(tabela[' Valor '].sum()/13, 2)
print('Media de vendas mensal: R$', media_vendas_mes)

Media de vendas mensal: R$ 684666.05

In [ ]:
#top 10 Clientes com maiores volumes de compras
tabela['ID Cliente'].value_counts().head(10)

12748    209
14911    201
17841    124
13089     97
14606     93
15311     91
12971     86
14646     73
16029     63
13408     62
Name: ID Cliente, dtype: int64

In [ ]:
#Media de cada pedido
media_pedido = round(tabela[' Valor '].sum()/tabela['N° da fatura'].value_counts().sum(), 2)
print('media de cada pedido: R$',media_pedido)

media de cada pedido: R$ 480.29

In [ ]:
#vendas <20 
vendas_20 = tabela['Quantidade'].value_counts().sum()
print(vendas_20)

18532

In [ ]:
#soma de itens vendidos em vendas <20 
vendas_20 = tabela[tabela['Quantidade'] < 20].value_counts().sum()
print('Total de vendas abaixo de 20 peças: ',vendas_20)

Total de vendas abaixo de 20 peças:  1248

In [ ]:
#Quantidade de vendas por país
vendas_pais = tabela.groupby(['País'])['N° da fatura'].count()
print(vendas_pais)

País
Australia                  57
Austria                    17
Bahrain                     2
Belgium                    98
Brazil                      1
Canada                      6
Channel Islands            26
Cyprus                     16
Czech Republic              2
Denmark                    18
EIRE                      260
European Community          4
Finland                    41
France                    389
Germany                   457
Greece                      5
Iceland                     7
Israel                      5
Italy                      38
Japan                      19
Lebanon                     1
Lithuania                   4
Malta                       5
Netherlands                94
Norway                     36
Poland                     19
Portugal                   57
RSA                         1
Saudi Arabia                1
Singapore                   7
Spain                      90
Sweden                     36
Switzerland                51
USA                         5
United Arab Emirates        3
United Kingdom          16646
Unspecified                 8
Name: N° da fatura, dtype: int64

In [ ]:
#Quantidade de vendas por país
vendas_pais = tabela.groupby(['País'])[' Valor '].count()
print(vendas_pais)

País
Australia                  57
Austria                    17
Bahrain                     2
Belgium                    98
Brazil                      1
Canada                      6
Channel Islands            26
Cyprus                     16
Czech Republic              2
Denmark                    18
EIRE                      260
European Community          4
Finland                    41
France                    389
Germany                   457
Greece                      5
Iceland                     7
Israel                      5
Italy                      38
Japan                      19
Lebanon                     1
Lithuania                   4
Malta                       5
Netherlands                94
Norway                     36
Poland                     19
Portugal                   57
RSA                         1
Saudi Arabia                1
Singapore                   7
Spain                      90
Sweden                     36
Switzerland                51
USA                         5
United Arab Emirates        3
United Kingdom          16646
Unspecified                 8
Name:  Valor , dtype: int64

In [ ]:
#valor de vendas por país
#sort_values 'Valor' decrescente
vendas_pais_valor = tabela[['País',' Valor ']].groupby('País').sum().sort_values(by=" Valor ", ascending=False)
display(vendas_pais_valor)

                          Valor
País
United Kingdom        7298806.28
Netherlands            285446.34
EIRE                   265341.00
Germany                228867.14
France                 208088.92
Australia              138521.31
Spain                   61577.11
Switzerland             56443.95
Belgium                 41196.34
Sweden                  38378.33
Japan                   37392.44
Norway                  36165.44
Portugal                33439.89
Finland                 22546.08
Singapore               21279.29
Channel Islands         20450.44
Denmark                 18955.34
Italy                   17483.24
Cyprus                  13590.38
Austria                 10198.68
Poland                   7334.65
Israel                   7221.69
Greece                   4760.52
Iceland                  4310.00
Canada                   3666.38
USA                      3580.39
Malta                    2725.59
Unspecified              2667.07
United Arab Emirates     1902.28
Lebanon                  1693.88
Lithuania                1661.06
European Community       1300.25
Brazil                   1143.60
RSA                      1002.31
Czech Republic            826.74
Bahrain                   548.40
Saudi Arabia              145.92

In [ ]:
a = tabela[(tabela.País == 'United Kingdom') &
           (tabela.Quantidade >20)]
display(a)

,N° da fatura,Data da fatura,ID Cliente,País,Quantidade,Valor
0,581483,09/12/2021,16446,United Kingdom,80995,168469.60
1,541431,18/01/2021,12346,United Kingdom,74215,77183.60
5,567423,20/09/2021,17450,United Kingdom,12572,31698.16
8,562439,04/08/2021,12931,United Kingdom,11848,18841.48
11,556267,09/06/2021,13694,United Kingdom,9811,3027.31
...,...,...,...,...,...,...
17187,547553,23/03/2021,15644,United Kingdom,21,36.40
17188,559504,08/07/2021,15920,United Kingdom,21,35.33
17189,574316,03/11/2021,17351,United Kingdom,21,159.85
17190,580069,01/12/2021,15060,United Kingdom,21,16.61
17191,573103,27/10/2021,16513,United Kingdom,21,108.45

In [ ]:
import matplotlib as plt
pd.options.plotting.backend = 'plotly'

In [ ]:
vendas_pais_valor.plot()